* {
  box-sizing: border-box;
}

@mixin fontstyle ($cl:black, $sz:14px) {
  color: $cl;
  font-size: $sz;
}

%juse {
  display: flex;
  justify-content: center;
}

body {
  margin: 0px;
}

@font-face {
  font-family: "Segoe WP N Light";
  src: url("//db.onlinewebfonts.com/t/5371c56d4aa017498373c2add587fb87.eot");
}

.header {
  background-image: url(/img/banner.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 482px;
  @extend%juse;
  flex-direction: column;

  @media screen and (max-width:768px) {
    height: 452px;
    background-position: center;
  }

  @media screen and (max-width:576px) {
    height: 432;
  }

  @media screen and (max-width:375px) {
    height: 402px;
  }

  .ph {
    font-size: 27px;
    font-family: "Segoe WP N Light";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    margin-left: 15%;
    top: 167px;
    width: 400px;
    height: 55px;
    z-index: 12;

    @media screen and (max-width:768px) {
      font-size: 23px;
      top: 167px;
      width: 344px;
      height: 45px;
    }

    @media screen and (max-width:576px) {
      font-size: 21px;
      top: 167px;
      width: 344px;
      height: 45px;
    }

    @media screen and (max-width:375px) {
      font-size: 17px;
      top: 167px;
      width: 344px;
      height: 45px;
      right: 5px;
    }

  }

  .search {
    position: absolute;
    margin-left: 15%;
    top: 289px;
    width: 390px;
    height: 43px;
    z-index: 11;
    background-image: url(/img/lupa.png);
    background-repeat: no-repeat;
    background-position: right;
    // 14px отступ лупы
    font-size: 21px;
    font-family: "Segoe WP N Light";
    color: rgb(175, 175, 175);
    line-height: 1.2;
    border-color: transparent;
    outline: none;

    @media screen and (max-width:768px) {
      width: 325px;
      height: 40px;
    }

    @media screen and (max-width:576px) {
      width: 290px;
      height: 38px;
    }

    @media screen and (max-width:375px) {
      width: 210px;
      height: 31px;
      font-size: 16px;
    }
  }

  .header__arrowl {
    background-image: url(/img/left.png);
    height: 64px;
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 29px;
    outline: none;
    // @media screen and (max-width:768px) {
    //   height: 54px;
    //   width: 25px;
    //   margin-left:15px;
    // } 

  }

  .header__arrowr {
    background-image: url(/img/right.png);
    height: 64px;
    width: 31px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 29px;
    outline: none;
    // @media screen and (max-width:768px) {
    //   height: 54px;
    //   width: 25px;
    //   margin-right:15px;
    // }
  }

  .header__shell {
    display: flex;
    justify-content: space-between;
    //    background-color: rgba(127, 255, 212, 0.329);
  }

}

.mid {
  height: 114px;
  width: 100%;
  position: relative;
  @extend%juse;

  @media screen and (max-width:576px) {
    height: 100px;
  }

  @media screen and (max-width:375px) {
    height: 87px;
  }

  &__button {
    height: 62px;
    width: 256px;
    background-color: rgb(143, 205, 220);
    font-size: 37px;
    font-family: "Segoe WP N Light";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    border-color: transparent;
    cursor: pointer;
    margin-top: 22px;
    outline: none;

    @media screen and (max-width:768px) {
      width: 200px;
      font-size: 31px;
      height: 60px;
    }

    @media screen and (max-width:576px) {
      width: 155px;
      font-size: 25px;
      height: 58px;
    }

    @media screen and (max-width:375px) {
      width: 110px;
      font-size: 22px;
      height: 58px;
    }
  }

  .mid__button-shell {
    @extend%juse;
    width: 256px;
    // @media screen and (max-width:576px) {
    //   width: 200px;
    // }
    // @media screen and (max-width:375px) {
    //   width: 140px;
    // }
  }

}

.create {
  font-size: 37px;
  font-family: "Segoe WP N Light";
  color: rgb(139, 139, 139);
  line-height: 1.2;
  text-align: center;
  @extend%juse;
  width: 450px;
}

.browse-list {
  @extend%juse;
  width: 100%;

  &__list {
    list-style-type: none;
    font-size: 15px;
    font-family: "Segoe WP N Light";
    color: rgba(99, 99, 99, 0.549);
    line-height: 1.5;
    cursor: default;
  }

  &__browse {
    width: 100%;
    @extend%juse;
    font-size: 23px;
    font-family: "Segoe WP N Light";
    color: rgb(99, 99, 99);
    line-height: 1.2;
    text-align: center;
  }


  &__shell {
    @extend%juse;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.185);
  }
}


footer {
  width: 100%;
  // height: 44px;

  .footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    // height: 44px;

    .footer {
      bottom: 0px;
      position: fixed;
      width: 100%;
      @extend%juse;
      background-image: url(/img/footer.png);
      height: 44px;
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 17px;
      font-family: "Segoe WP N Light";
      color: rgba(255, 255, 255, 0.502);
      line-height: 1.2;

      @media screen and (max-width:768px) {
        height: 38px;
        font-size: 14px;
      }

      @media screen and (max-width:576px) {
        height: 34px;
        font-size: 13px;
      }

      @media screen and (max-width:375px) {
        height: 27px;
        font-size: 11px;
      }
    }
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 150px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    outline: 15px solid rgba(178, 232, 240, 0.459);
    background-color: rgba(178, 232, 240, 0.459);

    @media screen and (max-width:768px) {
      right: 35px;
    }

    @media screen and (max-width:375px) {
      right: 15px;
    }
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .menu__btn>span::before {
    content: '';
    top: -8px;
  }

  .menu__btn>span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 150px;
    height: 50%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    transition-duration: .25s;
  }

  .menu__box {
    transition-duration: .25s;
  }

  .menu__item {
    transition-duration: .25s;
  }

  @media screen and (max-width:992px) {
    // .header {
    //   width:100%;
    //   background-size: contain;
    //   height: 482px;
    // }
  }

  @media screen and (max-width:768px) {

    .create {
      font-size: 30px;
      line-height: 1.2;
    }

    .browse-list {
      display: flex;
      flex-wrap: wrap;
    }



  }

  @media screen and (max-width:576px) {
    .create {
      font-size: 25px;
      line-height: 1.2;
      width: 370px;
    }

    .header__arrowl {
      background-size: 70%;
      background-repeat: no-repeat;

    }


    .header__arrowr {
      background-size: 70%;
      background-repeat: no-repeat;
    }

  }

  @media screen and (max-width:375px) {
    .create {
      font-size: 22px;
      line-height: 1.2;
    }

    .browse-list__browse {
      font-size: 20px;
    }

  }

  @media screen and (max-width:768px) {
    .mid {
      .mid__button {
        width: 200px;
        font-size: 31px;
        height: 60px;
      }
    }


  }

  .header__head {
    width: 100%;
    height: 57px;
    background-color: rgba(122, 177, 190, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }

  .header__logo {
    background-image: url(/img/leo3.png);
    z-index: 99;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 57px;
    margin-left: 5%;
    margin-top: 15px;
  }
}